/* 背景設定 */
/* コンテンツをフィードインさせる */
body {
    background-color: rgb(239, 240, 242);
    background-image: url("./desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    font-family: 'Noto Serif JP', 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
    background-attachment: fixed;
}
  
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

/* 表題設定 */
.head {
  color: #00552e;
  font-size: 80px;
  position: absolute;
  top: 10px;
  left: 15vw;
}

/* 趣味の種類である３つの画像の表示設定 */
.pic1 {
  font-family: 'Raleway', Arial, sans-serif;
  position: absolute;
  overflow: hidden;
  top: 250px;
  left: 15%;
  margin: 10px;
  width: 22vw;
  height: auto;
  color: #ffffff;
  font-size: 1.2vw;
  background-color: #000000;
}
.pic2 {
  font-family: 'Raleway', Arial, sans-serif;
  position: absolute;
  overflow: hidden;
  top: 250px;
  left: 39%;
  margin: 10px;
  width: 22vw;
  height: auto;
  color: #ffffff;
  font-size: 1.2vw;
  background-color: #000000;
}
.pic3 {
  font-family: 'Raleway', Arial, sans-serif;
  position: absolute;
  overflow: hidden;
  top: 250px;
  left: 63%;
  margin: 10px;
  width: 22vw;
  height: auto;
  color: #ffffff;
  font-size: 1.2vw;
  background-color: #000000;
}

@media only screen and (max-width: 1000px) {
  .pic1 {
   width: 230px;
   font-size: 13px;
  }
  .pic2 {
    width: 230px;
    top: 400px;
    font-size: 13px;
    left: 32%;
  }
  .pic3 { 
    width: 230px;
    top: 550px;
    font-size: 13px;
    left: 50%;
  }
}

/* 趣味の種類である３つの画像内の線分の出現を滑らかにする(通常時は非表示) */
.snip1445 *,
.snip1445 *:before,
.snip1445 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

/* 趣味の種類である３つ画像のそれぞれの表示設定 */  
.snip1445 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

/* 趣味の種類である３つ画像内コンテンツの位置設定 */
.snip1445 figcaption {
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 5px 10px 10px;
}

/* 趣味の種類である３つ画像内の横線装飾 */
.snip1445 figcaption:before,
.snip1445 figcaption:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

/* 趣味の種類である３つ画像内の横線処理 */
.snip1445 figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.snip1445 figcaption:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* 趣味の種類である３つ画像内の縦線装飾 */
.snip1445 figcaption div:before,
.snip1445 figcaption div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

/* 趣味の種類である３つ画像内の縦線処理 */
.snip1445 figcaption div:before {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.snip1445 figcaption div:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* 趣味の種類である３つ画像内コンテンツの文字設定 */
.snip1445 h2,
.snip1445 h4 {
  margin: 0;
  text-transform: uppercase;
}

/* 趣味の種類である３つ画像内コンテンツの文字一段目の設定 */
.snip1445 h2 {
  font-weight: 400;
}

/* 趣味の種類である３つ画像内コンテンツの文字二段目の設定 */
.snip1445 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}

/* ３つの趣味に飛ぶリンク元の場所設定 */
.snip1445 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* 趣味の種類である３つ画像にカーソルを置いた時の挙動制御 */
.snip1445:hover img,
.snip1445.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
/* この時、縦線と横線を出現させるように制御しているが、*/
/* 横線を縦線より0.15秒遅延させるデザインにしている。*/
.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after,
.snip1445:hover figcaption div:before,
.snip1445.hover figcaption div:before,
.snip1445:hover figcaption div:after,
.snip1445.hover figcaption div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.snip1445:hover figcaption:before,
.snip1445.hover figcaption:before,
.snip1445:hover figcaption:after,
.snip1445.hover figcaption:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* 音楽活動についての欄 */
#topic1 {  
  width: 100vw;
  height: 800px;
  position: relative;
  top: 1200px;
  color: #444;
  font-size: 20px;
}

/*「Music」という見出しの設定 */
#index1 {
  color: #674196;
  font-size: 70px;
  font-weight:  normal;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 0;
  width: 250px;
  margin: 0 auto;
}

/* 映像編集についての欄 */
#topic2 {  
  width: 100vw;
  height: 800px;
  color: #444;
  font-size: 20px;
  position: relative;
  top: 1300px;
}

/*「Video」という見出しの設定 */ 
#index2 {
  color: #674196;
  font-size: 70px;
  font-weight:  normal;
  padding-top: 40px;
  padding-left: 30px;
  width: 250px;
  margin: 0 auto;
}

/* 愛犬についての欄 */
#topic3 {  
  width: 100vw;
  height: 500px;
  color: #444;
  font-size: 20px;
  position: relative;
  top: 1300px;
}

/*「Dog」という見出しの設定 */ 
#index3 {
  color: #674196;
  font-size: 70px;
  font-weight:  normal;
  padding-top: 20px;
  padding-left: 30px;
  width: 250px;
  margin: 0 auto;
}

/* 各見出しの装飾 */
#index1:after,#index2:after,#index3:after {
  content:  '';
  background-color: #ffbf7f;
  display:  block;
  position:  relative;  
  right: 30px;
  height: 70px;
  width: 70px;
  border-radius:  50%;
  bottom: 110px;
  z-index:  -1;
}

/* 音楽活動についての文書の位置設定 */
.doc1{
  width: 70vw;
  margin:  0 auto;
}

/* 映像制作についての文書の位置設定 */
.doc2{
  width: 70vw;
  margin:  0 auto;
}

/* 愛犬についての文書の位置設定 */
.doc3{
  width: 70vw;
  margin:  0 auto;
}

/* スライドショーの設定 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* フレーム設定 */
.cp_cssslider {
  background:#cccccc;
  border: 8px solid #ffffff;
  box-shadow:1px 1px 5px rgba(0,0,0,0.7);
  height:316px;
  width:466px;
  margin:2em auto;
  overflow:visible;
  position: absolute;
  top: 47%;
  bottom: 0;
  left: 30%;
  right: 0;
}

/* 画像詳細設定 */
.cp_cssslider img {
  max-width: 150%;
  vertical-align: top;
}


/* 画像がフレームにはみ出ないようにする */
.cp_cssslider ul {
  margin:0;
  padding:0;
  position:relative;
}

/* ツールチップ設定 */
/* ツールチップがフレーム外で隠れるようにする */
.cp_cssslider .mask {
  overflow:hidden;
  height:300px;
}

/* ツールチップ詳細設定 */
.cp_cssslider .tooltip {
  background:#00552e;
  opacity: 0.8;
  width:300px;
  height:auto;
  position:relative;
  bottom:95px;
  left:-300px;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}

/* ツールチップ内文字設定 */
.cp_cssslider .tooltip h5 {
  color:#ffffff;
  padding:0 0 0 20px;
}

/* 画像にカーソルを置いた時、ツールチップが出現するようにする */
.cp_cssslider li:hover .tooltip{
  left:0px;
}

/* 画像がフレームに収まるようにする */
.cp_cssslider li {
  width:300px;
  height:200px;
  position:absolute;
  top:-200px;
  list-style:none;
}

/* 画像のスライド挙動設定 */
.cp_cssslider li:nth-child(1){
  -webkit-animation:cycle1 25s linear infinite;
  animation:cycle1 30s linear infinite;
}
.cp_cssslider li:nth-child(2){
  -webkit-animation:cycle2 25s linear infinite;
  animation:cycle2 30s linear infinite;
}
.cp_cssslider li:nth-child(3){
  -webkit-animation:cycle3 25s linear infinite;
  animation:cycle3 30s linear infinite;
}
.cp_cssslider li:nth-child(4){
  -webkit-animation:cycle4 25s linear infinite;
  animation:cycle4 30s linear infinite;
}
.cp_cssslider li:nth-child(5){
  -webkit-animation:cycle5 25s linear infinite;
  animation:cycle5 30s linear infinite;
}
@keyframes cycle1 {
  0%  { top:0px; }
  4%  { top:0px; }
  16% { top:0px; opacity:1; z-index:0; }
  20% { top:200px; opacity:0; z-index:0; }
  21% { top:-200px; opacity:0; z-index:-1; }
  50% { top:-200px; opacity:0; z-index:-1; }
  92% { top:-200px; opacity:0; z-index:0; }
  96% { top:-200px; opacity:0; }
  100%{ top:0px; opacity:1; }
}
@keyframes cycle2 {
  0%  { top:-200px; opacity:0; }
  16% { top:-200px; opacity:0; }
  20% { top:0px; opacity:1; }
  24% { top:0px; opacity:1; }
  36% { top:0px; opacity:1; z-index:0; }
  40% { top:200px; opacity:0; z-index:0; }
  41% { top:-200px; opacity:0; z-index:-1; }
  100%{ top:-200px; opacity:0; z-index:-1; }
}
@keyframes cycle3 {
  0%  { top:-200px; opacity:0; }
  36% { top:-200px; opacity:0; }
  40% { top:0px; opacity:1; }
  44% { top:0px; opacity:1; }
  56% { top:0px; opacity:1; z-index:0; }
  60% { top:200px; opacity:0; z-index:0; }
  61% { top:-200px; opacity:0; z-index:-1; }
  100%{ top:-200px; opacity:0; z-index:-1; }
}
@keyframes cycle4 {
  0%  { top:-200px; opacity:0; }
  56% { top:-200px; opacity:0; }
  60% { top:0px; opacity:1; }
  64% { top:0px; opacity:1; }
  76% { top:0px; opacity:1; z-index:0; }
  80% { top:200px; opacity:0; z-index:0; }
  81% { top:-200px; opacity:0; z-index:-1; }
  100%{ top:-200px; opacity:0; z-index:-1; }
}
@keyframes cycle5 {
  0%  { top:-200px; opacity:0; }
  76% { top:-200px; opacity:0; }
  80% { top:0px; opacity:1; }
  84% { top:0px; opacity:1; }
  96% { top:0px; opacity:1; z-index:0; }
  100%{ top:200px; opacity:0; z-index:0; }
}
/* 今写っている画像があとどれぐらい維持するかを表示 */
.cp_progressbar {
  position:relative;
  top:-5px;
  width:680px;
  height:5px;
  background: white;
  -webkit-animation:progressbar 30s ease-out infinite;
  animation:progressbar 30s ease-out infinite;
}
@keyframes progressbar {
  0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
  4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
  16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.3; }
  18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}

/* 動画の位置設定 */
video{
  display: block;
  margin: 0 auto;
  padding-top: 2vw;
  padding-left: 1.5vw;
}

/* 愛犬写真の位置設定 */
.charo {
  display: block;
  width: 800px;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 1240px) {
  .cp_cssslider {
    top: 750px;
    left: 0;
    margin-bottom: 70vw;
  }
  #topic1 {
    top: 1650px;
    height: 1400px;
  }
  #topic2 {
    top: 1500px;
    height: 1100px;
  }
}

@media only screen and (max-width: 1000px) {
  #topic1 {
    top: 1850px;
  }
  #topic2 {
    top: 1750px;
  }
  #topic3 {
    top: 1700px;
  }
  .charo {
    width: 90vw;
  }
}

@media only screen and (max-width: 790px) {
  .cp_cssslider {
    top: 850px;
  }
  #topic1 {
    top: 1750px;
    height: 1200px;
  }
  #topic2 {
    top: 1850px;
    height: 1100px;
  }
  .charo {
    width: 90vw;
  }
}

@media only screen and (max-width: 610px) {
  .cp_cssslider {
    top: 950px;
  }
  #topic1 {
    top: 1900px;
    height: 1300px;
  }
  #topic2 {
    top: 2150px;
    height: 1300px;
  }
  video {
    width: 90vw;
    height: auto;
  }

  .charo {
    width: 90vw;
  }

}

@media only screen and (max-width: 530px) {
  .cp_cssslider {
    top:  1000px;
  }
  #topic1 {
    top: 1950px;
    height: 1400px;
  }
  #topic2 {
    top: 2100px;
    height: 1300px;
  }
  video {
    width: 90vw;
    height: auto;
  }

  .charo {
    width: 90vw;
  }
}

/* ハンバーガーメニューの位置設定 */
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;
}
/* ハンバーガーメニューの長さ設定 */
#nav-toggle > div {
  position: relative;
  width: 36px;
}

/* ナビゲーションの設定 */
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #666;
  position: absolute;
  transition: transform 0.6s ease-in-out, top 0.5s ease;
}

/* ハンバーガーメニューの各線分位置設定 */
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}

/* カーソルをハンバーガーメニューに置いた時の各線分位置設定 */
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

/* ハンバーガーメニュークリック時の設定 */
.open #nav-toggle span {
  background: #fff;
}
.open #nav-toggle span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

/* ハンバーガーメニューを常にページの手前におく */
#nav-toggle {
  z-index: 1000;
}

/* ナビゲーション設定 */
#gloval-nav {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* ナビゲーション内コンテンツ設定 */
#gloval-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.6s ease;
}



/* リスト内の各項目の先頭に表示されるマーカーを消す */
#gloval-nav ul {
  list-style: none;
}

/* リストの出現方法設定 */
#gloval-nav ul li {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 0.6s ease, opacity 0.2s ease;
}

/* リスト出現の遅延 */
/* 各リストが順番に出現するようにしている */
#gloval-nav ul li:nth-child(2) {
  transition-delay: 0.15s;
}
#gloval-nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
#gloval-nav ul li:nth-child(4) {
  transition-delay: 0.45s;
}
#gloval-nav ul li:nth-child(5) {
  transition-delay: 0.6s;
}
#gloval-nav ul li:nth-child(6) {
  transition-delay: 0.75s;
}
#gloval-nav ul li:nth-child(7) {
  transition-delay: 0.9s;
}


/* リストのアンダーバー設定(通常時には表示されない) */
nav li::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #66cdaa;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

/* カーソルをナビゲーション内のリストに置いた時の設定 */
/*  1.色変化 */
#gloval-nav a:hover {
  color: #999;
}
/*  2.アンダーバーの出現方法 */
nav li:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* ナビゲーション開示時の総合設定*/
.open {
  overflow: hidden;
}
.open #gloval-nav {
  visibility: visible;
  opacity: 1;
}
.open #gloval-nav li {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.9s ease;
}