/* 背景設定 */
/* コンテンツをフィードインさせる */
body {
    background-image: url("./top.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    z-index: -1;
    font-family: 'Noto Serif JP', 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* 表題設定 */
.head1 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 56vh;
    left: 7vw;
}
.head2 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 65vh;
    left: 7vw;
}

/* snsアイコン位置と挙動設定 */
#sns {
  display: inline-block;
  position:fixed;
  bottom: 50px;
  right: 0px;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* snsアイコンデザイン */
.button {
  color:#fff;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 8px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-font-smoothing: antialiased;
}

/* snsアイコンにカーソルを置いた時の色 */
.button:hover {
  background: #ef92a3;
}

/* ポップアップするテキストのデザイン */
.button span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.button span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* snsアイコンにカーソルを置いた時のポップアップの挙動制御 */
.button:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* snsアイコン内の画像デザイン */
.button:nth-of-type(1):before {
  content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url("./sns_icon/Twitter.png") no-repeat;
	background-size:contain;
}
.button:nth-of-type(2):before {
  content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url("./sns_icon/instagram.png") no-repeat;
	background-size:contain;
}
.button:nth-of-type(3):before {
  content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url("./sns_icon/GitHub.png") no-repeat;
	background-size:contain;
}
.button:nth-of-type(4):before {
  content:"";
  display:inline-block;
  width:1em;
  height:1em;
  background:url("./sns_icon/hello,visits.png") no-repeat;
  background-size:contain;
}

/* ハンバーガーメニューの位置設定 */
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;
}
/* ハンバーガーメニューの長さ設定 */
#nav-toggle > div {
  position: relative;
  width: 36px;
}

/* ナビゲーションの設定 */
#nav-toggle span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff;
  position: absolute;
  transition: transform 0.6s ease-in-out, top 0.5s ease;
}

/* ハンバーガーメニューの各線分位置設定 */
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}

/* カーソルをハンバーガーメニューに置いた時の各線分位置設定 */
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

/* ハンバーガーメニュークリック時の設定 */
.open #nav-toggle span {
  background: #fff;
}
.open #nav-toggle span:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}

/* ハンバーガーメニューを常にページの手前におく */
#nav-toggle {
  z-index: 1000;
}

/* ナビゲーション設定 */
#gloval-nav {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* ナビゲーション内コンテンツ設定 */
#gloval-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.6s ease;
}



/* リスト内の各項目の先頭に表示されるマーカーを消す */
#gloval-nav ul {
  list-style: none;
}

/* リストの出現方法設定 */
#gloval-nav ul li {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 0.6s ease, opacity 0.2s ease;
}

/* リスト出現の遅延 */
/* 各リストが順番に出現するようにしている */
#gloval-nav ul li:nth-child(2) {
  transition-delay: 0.15s;
}
#gloval-nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
#gloval-nav ul li:nth-child(4) {
  transition-delay: 0.45s;
}
#gloval-nav ul li:nth-child(5) {
  transition-delay: 0.6s;
}
#gloval-nav ul li:nth-child(6) {
  transition-delay: 0.75s;
}
#gloval-nav ul li:nth-child(7) {
  transition-delay: 0.9s;
}


/* リストのアンダーバー設定(通常時には表示されない) */
nav li::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #66cdaa;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

/* カーソルをナビゲーション内のリストに置いた時の設定 */
/*  1.色変化 */
#gloval-nav a:hover {
  color: #999;
}
/*  2.アンダーバーの出現方法 */
nav li:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* ナビゲーション開示時の総合設定*/
.open {
  overflow: hidden;
}
.open #gloval-nav {
  visibility: visible;
  opacity: 1;
}
.open #gloval-nav li {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.9s ease;
}