/* 背景設定 */
/* コンテンツをフィードインさせる */
body {
    background-color: rgb(239, 240, 242);
    background-image: url("./desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    font-family: 'Noto Serif JP', 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
} 
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* 表題設定 */
.head {
  color: #00552e;
  font-size: 80px;
  position: absolute;
  top: 10px;
  left: 15vw;
}

/* 各種リンク位置設定 */
.link1 {
    position: absolute;
    top: 200px;
    left: 21vw;
}
.link2 {
    position: absolute;
    top: 250px;
    left: 21vw;
}
.link3 {
    position: absolute;
    top: 200px;
    left: 50vw;
}
.link4 {
    position: absolute;
    top: 250px;
    left: 50vw;
}
.link5 {
    position: absolute;
    top: 300px;
    left: 50vw;
}
.link6 {
    position: absolute;
    top: 350px;
    left: 50vw;
}
.link7 {
    position: absolute;
    top: 300px;
    left: 21vw;
}

@media only screen and (max-width: 1000px) {
  .link3 {
    top: 350px;
    left: 21vw;
  }
  .link4 {
    top: 400px;
    left: 21vw;
  }
  .link5 {
    top: 450px;
    left: 21vw;
  }
  .link6 {
    top: 500px;
    left: 21vw;
  }
}

/* 各種リンク詳細設定 */
.detail{
  font-size: 20px;
	padding: 0.1em 0.3em 0em 0.3em;
	background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(255,152,0,1) 50%);
	background-position: 0 0;
	background-size: auto 200%;
	transition: .3s;
	color: #ff9800;
}

/* リンクにカーソルを置いた時の挙動設定 */
.detail:hover{
	background-position: 0 100%;
	color: #fff;
}

/* ハンバーガーメニューの位置設定 */
#nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;
  }
  /* ハンバーガーメニューの長さ設定 */
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  
  /* ナビゲーションの設定 */
  #nav-toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #666;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
  }
  
  /* ハンバーガーメニューの各線分位置設定 */
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
  }
  
  /* カーソルをハンバーガーメニューに置いた時の各線分位置設定 */
  #nav-toggle:hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px;
  }
  
  /* ハンバーガーメニュークリック時の設定 */
  .open #nav-toggle span {
    background: #fff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
  }
  
  /* ハンバーガーメニューを常にページの手前におく */
  #nav-toggle {
    z-index: 1000;
  }
  
  /* ナビゲーション設定 */
  #gloval-nav {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }
  
  /* ナビゲーション内コンテンツ設定 */
  #gloval-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.6s ease;
  }
  
  
  
  /* リスト内の各項目の先頭に表示されるマーカーを消す */
  #gloval-nav ul {
    list-style: none;
  }
  
  /* リストの出現方法設定 */
  #gloval-nav ul li {
    opacity: 0;
    transform: translateX(200px);
    transition: transform 0.6s ease, opacity 0.2s ease;
  }
  
  /* リスト出現の遅延 */
  /* 各リストが順番に出現するようにしている */
  #gloval-nav ul li:nth-child(2) {
    transition-delay: 0.15s;
  }
  #gloval-nav ul li:nth-child(3) {
    transition-delay: 0.3s;
  }
  #gloval-nav ul li:nth-child(4) {
    transition-delay: 0.45s;
  }
  #gloval-nav ul li:nth-child(5) {
    transition-delay: 0.6s;
  }
  #gloval-nav ul li:nth-child(6) {
    transition-delay: 0.75s;
  }
  #gloval-nav ul li:nth-child(7) {
    transition-delay: 0.9s;
  }
  
  
  /* リストのアンダーバー設定(通常時には表示されない) */
  nav li::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #66cdaa;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  
  /* カーソルをナビゲーション内のリストに置いた時の設定 */
  /*  1.色変化 */
  #gloval-nav a:hover {
    color: #999;
  }
  /*  2.アンダーバーの出現方法 */
  nav li:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  
  /* ナビゲーション開示時の総合設定*/
  .open {
    overflow: hidden;
  }
  .open #gloval-nav {
    visibility: visible;
    opacity: 1;
  }
  .open #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.9s ease;
  }